<div id="Corpo">
    <button routerLink="" id="HomeMarcaLink" >
        <img id="marca" src="assets/images/marca.png" alt="" >
    </button>
    <div id="HeaderMenu">
        <div class="dropdown">
            <button class="dropbtn">Nossos produtos</button>
            <div class="dropdown-content">
              <a routerLink="/ornamentais">Plantas ornamentais</a>
              <a routerLink="/cachacas">Cachaças</a>
              <a href="/ornamentais">Paçoca de Gergelim</a>
              <a href="#">Geleias</a>
              <a href="#">Mel de abelha</a>
            </div>
        </div>
        
          <button routerLink="/contato" id="contato">Contatos</button>

          <button routerLink="/ornamentais" id="carrinho">
            <span class="material-icons" style="color: cccccc;">
              shopping_cart
            </span>
          </button>
        
    </div>
</div>
