<!DOCTYPE html>
<html>
<head>
  <title>Blocofort - Confirmação de alteração de senha</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    img {
      margin: 4px 0px 10px 0px;
    }
  </style>
</head>
<body>
  <img src="data:image/jpg;base64,
  /9j/4QddRXhpZgAATU0AKgAAAAgADAEAAAMAAAABAMgAAAEBAAMAAAABAC0AAAECAAMAAAADAAAA
ngEGAAMAAAABAAIAAAESAAMAAAABAAEAAAEVAAMAAAABAAMAAAEaAAUAAAABAAAApAEbAAUAAAAB
AAAArAEoAAMAAAABAAIAAAExAAIAAAAeAAAAtAEyAAIAAAAUAAAA0odpAAQAAAABAAAA6AAAASAA
CAAIAAgALca2AAAnEAAtxrYAACcQQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykAMjAxODow
MToxOCAxMjo1OTo0NQAAAAAEkAAABwAAAAQwMjIxoAEAAwAAAAEAAQAAoAIABAAAAAEAAABkoAMA
BAAAAAEAAAAXAAAAAAAAAAYBAwADAAAAAQAGAAABGgAFAAAAAQAAAW4BGwAFAAAAAQAAAXYBKAAD
AAAAAQACAAACAQAEAAAAAQAAAX4CAgAEAAAAAQAABdcAAAAAAAAASAAAAAEAAABIAAAAAf/Y/+0A
DEFkb2JlX0NNAAH/7gAOQWRvYmUAZIAAAAAB/9sAhAAMCAgICQgMCQkMEQsKCxEVDwwMDxUYExMV
ExMYEQwMDAwMDBEMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMAQ0LCw0ODRAODhAUDg4OFBQO
Dg4OFBEMDAwMDBERDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAAXAGQD
ASIAAhEBAxEB/90ABAAH/8QBPwAAAQUBAQEBAQEAAAAAAAAAAwABAgQFBgcICQoLAQABBQEBAQEB
AQAAAAAAAAABAAIDBAUGBwgJCgsQAAEEAQMCBAIFBwYIBQMMMwEAAhEDBCESMQVBUWETInGBMgYU
kaGxQiMkFVLBYjM0coLRQwclklPw4fFjczUWorKDJkSTVGRFwqN0NhfSVeJl8rOEw9N14/NGJ5Sk
hbSVxNTk9KW1xdXl9VZmdoaWprbG1ub2N0dXZ3eHl6e3x9fn9xEAAgIBAgQEAwQFBgcHBgU1AQAC
EQMhMRIEQVFhcSITBTKBkRShsUIjwVLR8DMkYuFygpJDUxVjczTxJQYWorKDByY1wtJEk1SjF2RF
VTZ0ZeLys4TD03Xj80aUpIW0lcTU5PSltcXV5fVWZnaGlqa2xtbm9ic3R1dnd4eXp7fH/9oADAMB
AAIRAxEAPwD1VJcCyqlv1foymYOVVlBlb/2n6h2NO5u/KdtvdZ6W33P/AEC6jGcT9ZcwSS37JjkC
dNX5GsJKdZJYnV6GZvWsDAydzsR1V9z6Q4ta57PRZX6mwt3tZ6j/AGqvZRX0jqWTX0+aan9OtvNW
4uZ6tTmtrta15dtdts96Sno1m9Tv6mHelhsbXXEvybHAAT+azcszH+r/AE9/RsbMbY7FzXVVXnPd
Y4vFhDLHvsL7Nr/V+i9jvYh/WMk9S2ky0VtgHgSXKbl4cWStNr1FsHNT4Md66mvSeH8VUU5VVxsx
eo02ZE+9pefd87PZaugwbsq2mcqr0bWmCAQWn+WyPzVh9H6Lj5lAychxLNxAqboPaY9zvpJ+s014
/SsvHqa40tyscNpY4yWvfjl9Vbtzf5zd++pOYMTYu5R3PDw/1av/ANBYuWExUiOGM9hxcX9bi4Zf
9+9IkuZcynB6b1PJwun39OvrxXlt1rg4EgOLdn6a/wB7He/6Kj1PovT8HoL+oYjH1ZuPWy5mSLHl
+8bXbnuc/wDSb/8ACb1Vbj1CS5fqI6a/6w5Teo0X5LRRR6TaW2vDZN2/cMb6G72fSReh9PwepdOc
Mhj7ManKv+x12PeH117tnpWe8Ws2w79Fd9BJT0aS4n9l4P8AzS+37Hfat0er6lk/z/o/v/6P2JJK
f//Q7RnQqB0ttL+r2v6Q2sAiaRWaRrByG17vSc36T/UVvI6Y2/qVmRi9Qsxcg01stqq9N3sabDS9
zLWWOb9KxfNaSSn6Tv6W17sRj+o2N6lQLDRkfoxa9ji312Oo2elbU39F/gvZ+jT09OxaMm63PzDl
5VmO5jvWLGbccH9LtpqFe2vf/O3L5rSSU/RT+h446eyvJ6rY/o1YYRXYagw1tLXUVvy9jXvp+h/h
P0iL1vAxr7vVGTXTkhoBrscAHAfR/lMXzgkpMPHxj2/m/YxZ/b9s+58v7fB+jujXZTML7NRRuta9
36VxHogE/S9Rm71f6las5ODjPxX1ZmUA519VltstZ+ka6t9NW13tY12yutrPpr5oST8/zSqt/XW/
F1/weJZy/wAseK9v1d7cH6Py/p8L9R5rMazDvrzC0Yz63NvLztaGERZuf+b7Vk3dFH2MV53VbrOm
MDS9lhqa1zGkFjLsptbHur/f9/6RfOSSgbD9PU42MzqmTkst3ZFtdTLaZHtaw2+k/Z9Nvqb7PpJd
NxsWj7V9nt9b1ciy27UHbY7bvq9n0dn7rl8wpJKfpL9ndN/YH2H7WPsUz9p3s59X1f5z+a/nf0SS
+bUklP8A/9n/7Q74UGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAA8cAVoAAxslRxwCAAACoAAAOEJJ
TQQlAAAAAAAQHmeE8DTht6DcFoBlw3ysKjhCSU0EOgAAAAAA5QAAABAAAAABAAAAAAALcHJpbnRP
dXRwdXQAAAAFAAAAAFBzdFNib29sAQAAAABJbnRlZW51bQAAAABJbnRlAAAAAENscm0AAAAPcHJp
bnRTaXh0ZWVuQml0Ym9vbAAAAAALcHJpbnRlck5hbWVURVhUAAAAAQAAAAAAD3ByaW50UHJvb2ZT
ZXR1cE9iamMAAAAMAFAAcgBvAG8AZgAgAFMAZQB0AHUAcAAAAAAACnByb29mU2V0dXAAAAABAAAA
AEJsdG5lbnVtAAAADGJ1aWx0aW5Qcm9vZgAAAAlwcm9vZkNNWUsAOEJJTQQ7AAAAAAItAAAAEAAA
AAEAAAAAABJwcmludE91dHB1dE9wdGlvbnMAAAAXAAAAAENwdG5ib29sAAAAAABDbGJyYm9vbAAA
AAAAUmdzTWJvb2wAAAAAAENybkNib29sAAAAAABDbnRDYm9vbAAAAAAATGJsc2Jvb2wAAAAAAE5n
dHZib29sAAAAAABFbWxEYm9vbAAAAAAASW50cmJvb2wAAAAAAEJja2dPYmpjAAAAAQAAAAAAAFJH
QkMAAAADAAAAAFJkICBkb3ViQG/gAAAAAAAAAAAAR3JuIGRvdWJAb+AAAAAAAAAAAABCbCAgZG91
YkBv4AAAAAAAAAAAAEJyZFRVbnRGI1JsdAAAAAAAAAAAAAAAAEJsZCBVbnRGI1JsdAAAAAAAAAAA
AAAAAFJzbHRVbnRGI1B4bEByv/vgAAAAAAAACnZlY3RvckRhdGFib29sAQAAAABQZ1BzZW51bQAA
AABQZ1BzAAAAAFBnUEMAAAAATGVmdFVudEYjUmx0AAAAAAAAAAAAAAAAVG9wIFVudEYjUmx0AAAA
AAAAAAAAAAAAU2NsIFVudEYjUHJjQFkAAAAAAAAAAAAQY3JvcFdoZW5QcmludGluZ2Jvb2wAAAAA
DmNyb3BSZWN0Qm90dG9tbG9uZwAAAAAAAAAMY3JvcFJlY3RMZWZ0bG9uZwAAAAAAAAANY3JvcFJl
Y3RSaWdodGxvbmcAAAAAAAAAC2Nyb3BSZWN0VG9wbG9uZwAAAAAAOEJJTQPtAAAAAAAQASv/vgAB
AAIBK/++AAEAAjhCSU0EJgAAAAAADgAAAAAAAAAAAAA/gAAAOEJJTQPyAAAAAAAKAAD///////8A
ADhCSU0EDQAAAAAABAAAAB44QklNBBkAAAAAAAQAAAAeOEJJTQPzAAAAAAAJAAAAAAAAAAABADhC
SU0nEAAAAAAACgABAAAAAAAAAAI4QklNA/UAAAAAAEgAL2ZmAAEAbGZmAAYAAAAAAAEAL2ZmAAEA
oZmaAAYAAAAAAAEAMgAAAAEAWgAAAAYAAAAAAAEANQAAAAEALQAAAAYAAAAAAAE4QklNA/gAAAAA
AHAAAP////////////////////////////8D6AAAAAD/////////////////////////////A+gA
AAAA/////////////////////////////wPoAAAAAP////////////////////////////8D6AAA
OEJJTQQIAAAAAAAQAAAAAQAAAkAAAAJAAAAAADhCSU0EHgAAAAAABAAAAAA4QklNBBoAAAAAA0UA
AAAGAAAAAAAAAAAAAAAXAAAAZAAAAAgAbABvAGcAbwBfAG0AaQBuAAAAAQAAAAAAAAAAAAAAAAAA
AAAAAAABAAAAAAAAAAAAAABkAAAAFwAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
ABAAAAABAAAAAAAAbnVsbAAAAAIAAAAGYm91bmRzT2JqYwAAAAEAAAAAAABSY3QxAAAABAAAAABU
b3AgbG9uZwAAAAAAAAAATGVmdGxvbmcAAAAAAAAAAEJ0b21sb25nAAAAFwAAAABSZ2h0bG9uZwAA
AGQAAAAGc2xpY2VzVmxMcwAAAAFPYmpjAAAAAQAAAAAABXNsaWNlAAAAEgAAAAdzbGljZUlEbG9u
ZwAAAAAAAAAHZ3JvdXBJRGxvbmcAAAAAAAAABm9yaWdpbmVudW0AAAAMRVNsaWNlT3JpZ2luAAAA
DWF1dG9HZW5lcmF0ZWQAAAAAVHlwZWVudW0AAAAKRVNsaWNlVHlwZQAAAABJbWcgAAAABmJvdW5k
c09iamMAAAABAAAAAAAAUmN0MQAAAAQAAAAAVG9wIGxvbmcAAAAAAAAAAExlZnRsb25nAAAAAAAA
AABCdG9tbG9uZwAAABcAAAAAUmdodGxvbmcAAABkAAAAA3VybFRFWFQAAAABAAAAAAAAbnVsbFRF
WFQAAAABAAAAAAAATXNnZVRFWFQAAAABAAAAAAAGYWx0VGFnVEVYVAAAAAEAAAAAAA5jZWxsVGV4
dElzSFRNTGJvb2wBAAAACGNlbGxUZXh0VEVYVAAAAAEAAAAAAAlob3J6QWxpZ25lbnVtAAAAD0VT
bGljZUhvcnpBbGlnbgAAAAdkZWZhdWx0AAAACXZlcnRBbGlnbmVudW0AAAAPRVNsaWNlVmVydEFs
aWduAAAAB2RlZmF1bHQAAAALYmdDb2xvclR5cGVlbnVtAAAAEUVTbGljZUJHQ29sb3JUeXBlAAAA
AE5vbmUAAAAJdG9wT3V0c2V0bG9uZwAAAAAAAAAKbGVmdE91dHNldGxvbmcAAAAAAAAADGJvdHRv
bU91dHNldGxvbmcAAAAAAAAAC3JpZ2h0T3V0c2V0bG9uZwAAAAAAOEJJTQQoAAAAAAAMAAAAAj/w
AAAAAAAAOEJJTQQUAAAAAAAEAAAAAzhCSU0EDAAAAAAF8wAAAAEAAABkAAAAFwAAASwAABr0AAAF
1wAYAAH/2P/tAAxBZG9iZV9DTQAB/+4ADkFkb2JlAGSAAAAAAf/bAIQADAgICAkIDAkJDBELCgsR
FQ8MDA8VGBMTFRMTGBEMDAwMDAwRDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAENCwsNDg0Q
Dg4QFA4ODhQUDg4ODhQRDAwMDAwREQwMDAwMDBEMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM
/8AAEQgAFwBkAwEiAAIRAQMRAf/dAAQAB//EAT8AAAEFAQEBAQEBAAAAAAAAAAMAAQIEBQYHCAkK
CwEAAQUBAQEBAQEAAAAAAAAAAQACAwQFBgcICQoLEAABBAEDAgQCBQcGCAUDDDMBAAIRAwQhEjEF
QVFhEyJxgTIGFJGhsUIjJBVSwWIzNHKC0UMHJZJT8OHxY3M1FqKygyZEk1RkRcKjdDYX0lXiZfKz
hMPTdePzRieUpIW0lcTU5PSltcXV5fVWZnaGlqa2xtbm9jdHV2d3h5ent8fX5/cRAAICAQIEBAME
BQYHBwYFNQEAAhEDITESBEFRYXEiEwUygZEUobFCI8FS0fAzJGLhcoKSQ1MVY3M08SUGFqKygwcm
NcLSRJNUoxdkRVU2dGXi8rOEw9N14/NGlKSFtJXE1OT0pbXF1eX1VmZ2hpamtsbW5vYnN0dXZ3eH
l6e3x//aAAwDAQACEQMRAD8A9VSXAsqpb9X6MpmDlVZQZW/9p+odjTubvynbb3Welt9z/wBAuoxn
E/WXMEkt+yY5AnTV+RrCSnWSWJ1ehmb1rAwMnc7EdVfc+kOLWuez0WV+psLd7Weo/wBqr2UV9I6l
k19Pmmp/TrbzVuLmerU5ra7WteXbXbbPekp6NZvU7+ph3pYbG11xL8mxwAE/ms3LMx/q/wBPf0bG
zG2Oxc11VV5z3WOLxYQyx77C+za/1fovY72If1jJPUtpMtFbYB4Elym5eHFkrTa9RbBzU+DHeupr
0nh/FVFOVVcbMXqNNmRPvaXn3fOz2WroMG7KtpnKq9G1pggEFp/lsj81YfR+i4+ZQMnIcSzcQKm6
D2mPc76SfrNNeP0rLx6muNLcrHDaWOMlr345fVW7c3+c3fvqTmDE2LuUdzw8P9Wr/wDQWLlhMVIj
hjPYcXF/W4uGX/fvSJLmXMpwem9TycLp9/Tr68V5bda4OBIDi3Z+mv8Aex3v+io9T6L0/B6C/qGI
x9Wbj1suZkix5fvG1257nP8A0m//AAm9VW49QkuX6iOmv+sOU3qNF+S0UUek2ltrw2Tdv3DG+hu9
n0kXofT8HqXTnDIY+zGpyr/sddj3h9de7Z6VnvFrNsO/RXfQSU9GkuJ/ZeD/AM0vt+x32rdHq+pZ
P8/6P7/+j9iSSn//0O0Z0KgdLbS/q9r+kNrAImkVmkawchte70nN+k/1FbyOmNv6lZkYvULMXINN
bLaqvTd7Gmw0vcy1ljm/SsXzWkkp+k7+lte7EY/qNjepUCw0ZH6MWvY4t9djqNnpW1N/Rf4L2fo0
9PTsWjJutz8w5eVZjuY71ixm3HB/S7aahXtr3/zty+a0klP0U/oeOOnsryeq2P6NWGEV2GoMNbS1
1Fb8vY176fof4T9Ii9bwMa+71Rk105IaAa7HABwH0f5TF84JKTDx8Y9v5v2MWf2/bPufL+3wfo7o
12UzC+zUUbrWvd+lcR6IBP0vUZu9X+pWrOTg4z8V9WZlAOdfVZbbLWfpGurfTVtd7WNdsrraz6a+
aEk/P80qrf11vxdf8HiWcv8ALHivb9Xe3B+j8v6fC/UeazGsw768wtGM+tzby87WhhEWbn/m+1ZN
3RR9jFed1W6zpjA0vZYamtcxpBYy7KbWx7q/3/f+kXzkkoGw/T1ONjM6pk5LLd2RbXUy2mR7WsNv
pP2fTb6m+z6SXTcbFo+1fZ7fW9XIstu1B22O276vZ9HZ+65fMKSSn6S/Z3Tf2B9h+1j7FM/ad7Of
V9X+c/mv539Ekvm1JJT/AP/ZADhCSU0EIQAAAAAAVQAAAAEBAAAADwBBAGQAbwBiAGUAIABQAGgA
bwB0AG8AcwBoAG8AcAAAABMAQQBkAG8AYgBlACAAUABoAG8AdABvAHMAaABvAHAAIABDAFMANgAA
AAEAOEJJTQQGAAAAAAAHAAYAAAABAQD/4RFgaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8
P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4
bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1
LjMtYzAxMSA2Ni4xNDU2NjEsIDIwMTIvMDIvMDYtMTQ6NTY6MjcgICAgICAgICI+IDxyZGY6UkRG
IHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+
IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2Jl
LmNvbS94YXAvMS4wLyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEv
IiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHht
bG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0i
aHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bWxuczpz
dFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1w
OkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSIgeG1wOkNyZWF0ZURh
dGU9IjIwMTgtMDEtMThUMTI6MjI6NDAtMDM6MDAiIHhtcDpNb2RpZnlEYXRlPSIyMDE4LTAxLTE4
VDEyOjU5OjQ1LTAzOjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDE4LTAxLTE4VDEyOjU5OjQ1LTAz
OjAwIiBkYzpmb3JtYXQ9ImltYWdlL2pwZWciIHBob3Rvc2hvcDpMZWdhY3lJUFRDRGlnZXN0PSIw
MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMSIgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIg
cGhvdG9zaG9wOklDQ1Byb2ZpbGU9InNSR0IgSUVDNjE5NjYtMi4xIiB4bXBNTTpJbnN0YW5jZUlE
PSJ4bXAuaWlkOkJFMDQyRjlBNjhGQ0U3MTE5Mzc0QjAwNjA0RjFBREIzIiB4bXBNTTpEb2N1bWVu
dElEPSJ4bXAuZGlkOkNBMUIzMTFENjVGQ0U3MTE5MjQ4QzJCMUE4NzRCNTMzIiB4bXBNTTpPcmln
aW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6Q0ExQjMxMUQ2NUZDRTcxMTkyNDhDMkIxQTg3NEI1MzMi
PiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjcmVhdGVk
IiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOkNBMUIzMTFENjVGQ0U3MTE5MjQ4QzJCMUE4NzRC
NTMzIiBzdEV2dDp3aGVuPSIyMDE4LTAxLTE4VDEyOjIyOjQwLTAzOjAwIiBzdEV2dDpzb2Z0d2Fy
ZUFnZW50PSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSIvPiA8cmRmOmxpIHN0RXZ0OmFj
dGlvbj0ic2F2ZWQiIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6Q0IxQjMxMUQ2NUZDRTcxMTky
NDhDMkIxQTg3NEI1MzMiIHN0RXZ0OndoZW49IjIwMTgtMDEtMThUMTI6MzQ6NTYtMDM6MDAiIHN0
RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDUzYgKFdpbmRvd3MpIiBzdEV2dDpj
aGFuZ2VkPSIvIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjb252ZXJ0ZWQiIHN0RXZ0OnBhcmFt
ZXRlcnM9ImZyb20gaW1hZ2UvcG5nIHRvIGltYWdlL2pwZWciLz4gPHJkZjpsaSBzdEV2dDphY3Rp
b249ImRlcml2ZWQiIHN0RXZ0OnBhcmFtZXRlcnM9ImNvbnZlcnRlZCBmcm9tIGltYWdlL3BuZyB0
byBpbWFnZS9qcGVnIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFu
Y2VJRD0ieG1wLmlpZDpDQzFCMzExRDY1RkNFNzExOTI0OEMyQjFBODc0QjUzMyIgc3RFdnQ6d2hl
bj0iMjAxOC0wMS0xOFQxMjozNDo1Ni0wMzowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUg
UGhvdG9zaG9wIENTNiAoV2luZG93cykiIHN0RXZ0OmNoYW5nZWQ9Ii8iLz4gPHJkZjpsaSBzdEV2
dDphY3Rpb249InNhdmVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOkJFMDQyRjlBNjhGQ0U3
MTE5Mzc0QjAwNjA0RjFBREIzIiBzdEV2dDp3aGVuPSIyMDE4LTAxLTE4VDEyOjU5OjQ1LTAzOjAw
IiBzdEV2dDpzb2Z0d2FyZUFnZW50PSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSIgc3RF
dnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPHhtcE1NOkRlcml2
ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Q0IxQjMxMUQ2NUZDRTcxMTkyNDhDMkIx
QTg3NEI1MzMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Q0ExQjMxMUQ2NUZDRTcxMTkyNDhD
MkIxQTg3NEI1MzMiIHN0UmVmOm9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpDQTFCMzExRDY1
RkNFNzExOTI0OEMyQjFBODc0QjUzMyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8
L3g6eG1wbWV0YT4gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICA8P3hwYWNrZXQgZW5kPSJ3Ij8+/+IMWElDQ19QUk9GSUxFAAEBAAAMSExpbm8CEAAA
bW50clJHQiBYWVogB84AAgAJAAYAMQAAYWNzcE1TRlQAAAAASUVDIHNSR0IAAAAAAAAAAAAAAAEA
APbWAAEAAAAA0y1IUCAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAARY3BydAAAAVAAAAAzZGVzYwAAAYQAAABsd3RwdAAAAfAAAAAUYmtwdAAAAgQAAAAUclhZ
WgAAAhgAAAAUZ1hZWgAAAiwAAAAUYlhZWgAAAkAAAAAUZG1uZAAAAlQAAABwZG1kZAAAAsQAAACI
dnVlZAAAA0wAAACGdmlldwAAA9QAAAAkbHVtaQAAA/gAAAAUbWVhcwAABAwAAAAkdGVjaAAABDAA
AAAMclRSQwAABDwAAAgMZ1RSQwAABDwAAAgMYlRSQwAABDwAAAgMdGV4dAAAAABDb3B5cmlnaHQg
KGMpIDE5OTggSGV3bGV0dC1QYWNrYXJkIENvbXBhbnkAAGRlc2MAAAAAAAAAEnNSR0IgSUVDNjE5
NjYtMi4xAAAAAAAAAAAAAAASc1JHQiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAADzUQABAAAAARbMWFlaIAAAAAAA
AAAAAAAAAAAAAABYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAA
AAAAACSgAAAPhAAAts9kZXNjAAAAAAAAABZJRUMgaHR0cDovL3d3dy5pZWMuY2gAAAAAAAAAAAAA
ABZJRUMgaHR0cDovL3d3dy5pZWMuY2gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAuSUVDIDYxOTY2LTIuMSBEZWZhdWx0IFJHQiBjb2xvdXIg
c3BhY2UgLSBzUkdCAAAAAAAAAAAAAAAuSUVDIDYxOTY2LTIuMSBEZWZhdWx0IFJHQiBjb2xvdXIg
c3BhY2UgLSBzUkdCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRlc2MAAAAAAAAALFJlZmVyZW5jZSBW
aWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAACxSZWZlcmVuY2UgVmll
d2luZyBDb25kaXRpb24gaW4gSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB2
aWV3AAAAAAATpP4AFF8uABDPFAAD7cwABBMLAANcngAAAAFYWVogAAAAAABMCVYAUAAAAFcf521l
YXMAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAKPAAAAAnNpZyAAAAAAQ1JUIGN1cnYAAAAAAAAE
AAAAAAUACgAPABQAGQAeACMAKAAtADIANwA7AEAARQBKAE8AVABZAF4AYwBoAG0AcgB3AHwAgQCG
AIsAkACVAJoAnwCkAKkArgCyALcAvADBAMYAywDQANUA2wDgAOUA6wDwAPYA+wEBAQcBDQETARkB
HwElASsBMgE4AT4BRQFMAVIBWQFgAWcBbgF1AXwBgwGLAZIBmgGhAakBsQG5AcEByQHRAdkB4QHp
AfIB+gIDAgwCFAIdAiYCLwI4AkECSwJUAl0CZwJxAnoChAKOApgCogKsArYCwQLLAtUC4ALrAvUD
AAMLAxYDIQMtAzgDQwNPA1oDZgNyA34DigOWA6IDrgO6A8cD0wPgA+wD+QQGBBMEIAQtBDsESARV
BGMEcQR+BIwEmgSoBLYExATTBOEE8AT+BQ0FHAUrBToFSQVYBWcFdwWGBZYFpgW1BcUF1QXlBfYG
BgYWBicGNwZIBlkGagZ7BowGnQavBsAG0QbjBvUHBwcZBysHPQdPB2EHdAeGB5kHrAe/B9IH5Qf4
CAsIHwgyCEYIWghuCIIIlgiqCL4I0gjnCPsJEAklCToJTwlkCXkJjwmkCboJzwnlCfsKEQonCj0K
VApqCoEKmAquCsUK3ArzCwsLIgs5C1ELaQuAC5gLsAvIC+EL+QwSDCoMQwxcDHUMjgynDMAM2Qzz
DQ0NJg1ADVoNdA2ODakNww3eDfgOEw4uDkkOZA5/DpsOtg7SDu4PCQ8lD0EPXg96D5YPsw/PD+wQ
CRAmEEMQYRB+EJsQuRDXEPURExExEU8RbRGMEaoRyRHoEgcSJhJFEmQShBKjEsMS4xMDEyMTQxNj
E4MTpBPFE+UUBhQnFEkUahSLFK0UzhTwFRIVNBVWFXgVmxW9FeAWAxYmFkkWbBaPFrIW1hb6Fx0X
QRdlF4kXrhfSF/cYGxhAGGUYihivGNUY+hkgGUUZaxmRGbcZ3RoEGioaURp3Gp4axRrsGxQbOxtj
G4obshvaHAIcKhxSHHscoxzMHPUdHh1HHXAdmR3DHeweFh5AHmoelB6+HukfEx8+H2kflB+/H+og
FSBBIGwgmCDEIPAhHCFIIXUhoSHOIfsiJyJVIoIiryLdIwojOCNmI5QjwiPwJB8kTSR8JKsk2iUJ
JTglaCWXJccl9yYnJlcmhya3JugnGCdJJ3onqyfcKA0oPyhxKKIo1CkGKTgpaymdKdAqAio1Kmgq
myrPKwIrNitpK50r0SwFLDksbiyiLNctDC1BLXYtqy3hLhYuTC6CLrcu7i8kL1ovkS/HL/4wNTBs
MKQw2zESMUoxgjG6MfIyKjJjMpsy1DMNM0YzfzO4M/E0KzRlNJ402DUTNU01hzXCNf02NzZyNq42
6TckN2A3nDfXOBQ4UDiMOMg5BTlCOX85vDn5OjY6dDqyOu87LTtrO6o76DwnPGU8pDzjPSI9YT2h
PeA+ID5gPqA+4D8hP2E/oj/iQCNAZECmQOdBKUFqQaxB7kIwQnJCtUL3QzpDfUPARANER0SKRM5F
EkVVRZpF3kYiRmdGq0bwRzVHe0fASAVIS0iRSNdJHUljSalJ8Eo3Sn1KxEsMS1NLmkviTCpMcky6
TQJNSk2TTdxOJU5uTrdPAE9JT5NP3VAnUHFQu1EGUVBRm1HmUjFSfFLHUxNTX1OqU/ZUQlSPVNtV
KFV1VcJWD1ZcVqlW91dEV5JX4FgvWH1Yy1kaWWlZuFoHWlZaplr1W0VblVvlXDVchlzWXSddeF3J
XhpebF69Xw9fYV+zYAVgV2CqYPxhT2GiYfViSWKcYvBjQ2OXY+tkQGSUZOllPWWSZedmPWaSZuhn
PWeTZ+loP2iWaOxpQ2maafFqSGqfavdrT2una/9sV2yvbQhtYG25bhJua27Ebx5veG/RcCtwhnDg
cTpxlXHwcktypnMBc11zuHQUdHB0zHUodYV14XY+dpt2+HdWd7N4EXhueMx5KnmJeed6RnqlewR7
Y3vCfCF8gXzhfUF9oX4BfmJ+wn8jf4R/5YBHgKiBCoFrgc2CMIKSgvSDV4O6hB2EgITjhUeFq4YO
hnKG14c7h5+IBIhpiM6JM4mZif6KZIrKizCLlov8jGOMyo0xjZiN/45mjs6PNo+ekAaQbpDWkT+R
qJIRknqS45NNk7aUIJSKlPSVX5XJljSWn5cKl3WX4JhMmLiZJJmQmfyaaJrVm0Kbr5wcnImc951k
ndKeQJ6unx2fi5/6oGmg2KFHobaiJqKWowajdqPmpFakx6U4pammGqaLpv2nbqfgqFKoxKk3qamq
HKqPqwKrdavprFys0K1ErbiuLa6hrxavi7AAsHWw6rFgsdayS7LCszizrrQltJy1E7WKtgG2ebbw
t2i34LhZuNG5SrnCuju6tbsuu6e8IbybvRW9j74KvoS+/796v/XAcMDswWfB48JfwtvDWMPUxFHE
zsVLxcjGRsbDx0HHv8g9yLzJOsm5yjjKt8s2y7bMNcy1zTXNtc42zrbPN8+40DnQutE80b7SP9LB
00TTxtRJ1MvVTtXR1lXW2Ndc1+DYZNjo2WzZ8dp22vvbgNwF3IrdEN2W3hzeot8p36/gNuC94UTh
zOJT4tvjY+Pr5HPk/OWE5g3mlucf56noMui86Ubp0Opb6uXrcOv77IbtEe2c7ijutO9A78zwWPDl
8XLx//KM8xnzp/Q09ML1UPXe9m32+/eK+Bn4qPk4+cf6V/rn+3f8B/yY/Sn9uv5L/tz/bf///+4A
DkFkb2JlAGRAAAAAAf/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcH
CAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQoJCg0PDg4ODg8PDAwMDAwPDwwM
DAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8AAEQgAFwBkAwERAAIRAQMRAf/dAAQA
Df/EAaIAAAAHAQEBAQEAAAAAAAAAAAQFAwIGAQAHCAkKCwEAAgIDAQEBAQEAAAAAAAAAAQACAwQF
BgcICQoLEAACAQMDAgQCBgcDBAIGAnMBAgMRBAAFIRIxQVEGE2EicYEUMpGhBxWxQiPBUtHhMxZi
8CRygvElQzRTkqKyY3PCNUQnk6OzNhdUZHTD0uIIJoMJChgZhJRFRqS0VtNVKBry4/PE1OT0ZXWF
laW1xdXl9WZ2hpamtsbW5vY3R1dnd4eXp7fH1+f3OEhYaHiImKi4yNjo+Ck5SVlpeYmZqbnJ2en5
KjpKWmp6ipqqusra6voRAAICAQIDBQUEBQYECAMDbQEAAhEDBCESMUEFURNhIgZxgZEyobHwFMHR
4SNCFVJicvEzJDRDghaSUyWiY7LCB3PSNeJEgxdUkwgJChgZJjZFGidkdFU38qOzwygp0+PzhJSk
tMTU5PRldYWVpbXF1eX1RlZmdoaWprbG1ub2R1dnd4eXp7fH1+f3OEhYaHiImKi4yNjo+DlJWWl5
iZmpucnZ6fkqOkpaanqKmqq6ytrq+v/aAAwDAQACEQMRAD8A+/mKuxV2KuxV2KvE/wAzdc/MuO4O
j+StPs9H0026Saj541O5hhiiMhYelAJCaMoFSxU9dh3ze9kafREcecmUr2hEEk+Zrp5PNdt6rtAH
w9NERjW+SRAAvoL++i+ddE0fzRpGsXGpeUvzj8v6p5pZ+Wp2L38nG7av2We5BjuPwI7EZ1OfPgy4
xDNpZxx9Dwj0/Abx/FvH6bT6jDlM9Pq8csvUcR9XxltL7PJ9ieRtX8z6xozTebvLw8ua3bTtBPbx
ypNBOqhSs8DKzfA3KlCdiDnD9oYMGLLWCfHAi+VEeR830TszUajNivUY/DmDRANg/wBIeRZlmC7F
2KuxV2KuxV//0PQ9lpek2v5AeWPN1n+VvnbQvOMGn6TfN+en6Tk/R9pItzE02sTLHqck7QKnJ3X6
seS1BWnRV96+XZ5ZP+clPzKjFzJJajyH5Wkhh9RmiBe91aroleILACpAqaDwwKkP5t6HY+fPzn/K
L8vPMzXV75KutD8y67qnlyG5ntoL29sW0+C0a69B42kSEXMhVCePIhiCQMKsLvtBsPyX/Mjzvpv5
bm48uaLf/k/rnmWbQhcz3Fkur6Rdwx217FFcSSCOThcMr8aBwF5Cq4qhvLv5Afl9efk35H86W2tX
Xkb8wrnRdC8wz/m7c6ndy3kepSrb3VxcXL3F0scouGZkdH+AhytKUGKpJ/zkbJJN+Y3oTSPLb2+k
2pgt3YmNC7yliqnYE9zTPRvZYCOjsCiZH9D5V7YyMtfRNgQG3Tqnn5PfktoHnfQ4vNHmW7uLiya6
ngttCtyIo2FtJ6ZaaUfGeRB+FSu3c5jdt9vZdJlOHEADQPEd+e+w5fE25Xs77NYddhGfMSY2QIjb
6TXqPPfuFK/5yaRY+Xfys/MLyzpFjfTaBZ+ePKkNt5bsrmVZpILy80l7iytpDKjIJzIyhfUUVY7g
Zy/aWaeeOLLPeUomz31KQF/DZ7HsjTw00s2HHtCMxQu6uMSQL6XvSBmtNH8gflx+eHmnyJ+UPmr8
n/Mel+RtRmsfMmtXaXCSSRwzPELdV1K+CyROoepRe256ZqeTukB+Zn5MeQPy+/IjUfzH8oaff6N+
YPlXRrHXNK86Jql/JqJvomhkeW4lknYTeqaiVXBVwzAjHkrX5hxflve/85C+fIPzL8r+ZfN9tD5U
8stoFpodprV+lq0k2pC4aRNKbjEZKR7uPi47HY4qn/5Hfl75H/NP8ur9fMumajrPlTQfPHmNfy40
nVtQ1CO/0rTPXEKWd0nrpcRtGyOBFcEuilem2FXh3/KrvJP/AEKZ/wArF/Rt3/jT61w/T/6U1H1u
P+JPqNP96eP+8/7vp0xV/9H6bWn5FaDF+V9rot9/zkTr2ofkbbaTGlzbevocGlz6JEA5jfVIrQOI
HQUd1mFUqOQxV6Jr/wCWdvr/AOY2reY/KH5wap5I8zXHl/S7HXNB0T9FXJ/R9vNdPYzyQXltcPGH
aSUKwoGoQK0OKrNd/K631C58gWd7+cesWX5t+WItWn8recA2lpq17YXTxDUIZtPNsLe5t0rAGpD8
DCNuQY/EqqaN+XfljQPM3mTVvzE/Mqbz75x1jypcWF4uvzWFitp5XjlDXno2NnHbqkLSsvrzsDuE
BYUAxVgd1+SPl+HyDpel+afz/wBZ1H8hNLi06e30fUp9Gi0+fSreSKXT7a41kWyTS2xKxKD6oMi0
Uua7qp3+dvkLy55h1f8AS8PnfSNA82Q2ccUujareQwx3EKFjEfiYPExqQGoVPhtXOu9n+0c2CHAc
Up4yfqiCSD18j7niPabsrBqcniDNCGUAemUgBIdOtj38lH8m9a81WXkv/C3l/wAqm91e01G95+Yb
qeP9BIkszN6i3UDObgoTxMcQJr1ZcPbuDBPU+NlyVExHpAPibDlwmuG+dy+ALD2c1Oox6T8vhxXM
Sl6yR4W558Qvjrlwx+JDNfMfkfy5qHlXUdK86+fI0vLrzPoera/r5ltbIDUrS7s5tPs0ikLJEshh
hiRCS7BvtFmrnO63P4vDww4IAVEbnazZs/UTK7PLpQp6rQafwePinx5CbmdhvQocI+kCNUOdbkm3
pvnSy8s6l5Q80ad50mtrfyhf6TeW3mie9mW2t00+WFkuWlnZlEaiMklyRx61zCdg+e9X/JWFfKMW
mef/APnIDzDqv5QaZFayajpmrPo9nBc6faujwQ3+rx2sUzwtxQSN6imRdi3xHFXsmj+XPLln+Z/n
fzRZeYBd+aNa0bRLLXfLYnhb6nbWT3rWc5hX96nrmaUBn2bgePRsVW/lz5d8seXf8ef4Z19dfOue
cNU1fzDxngn+papdel9Ysj6I+AxcV+B/jFd8Vedf8q7/AC3/AOVBf4C/x/H/AMq99fn/AI4+u2fH
n+mfrnH61T6v/vT+5/4X7WKv/9k=" alt="">
  <div>
    <h3>Olá {{ name }},</h3>
    <p>Sua senha de acesso ao Blocofort foi alterada com sucesso.</p>
    <p>A partir de agora, você deve utilizar a nova senha para acessar o sistema.</p>
    <br>
    <p>Se você não solicitou a alteração, por favor contate o suporte imediatamente através do telefone <b>(85) 9 9186-9483</b>.</p>
  </div>
</body>
</html>